[submodule "third-party/lexicon_neurips"]
	path = third-party/lexicon_neurips
	url = https://github.com/Periklismant/lexicon_neurips
[submodule "third-party/alfworld"]
	path = third-party/alfworld
	url = https://github.com/alfworld/alfworld.git
[submodule "third-party/virtualhome"]
	path = third-party/virtualhome
	url = https://github.com/xavierpuigf/virtualhome.git
[submodule "third-party/LTL_Verifier"]
	path = third-party/LTL_Verifier
	url = /DATA/LTL_Verifier
[submodule "third-party/context_matters_3dsg"]
	path = third-party/context_matters_3dsg
	url = /DATA/context-matters-3dsg
